* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --url-background-img: url('/assets/images/fond1.jpg');
    --display-btn-moon-dark-mode:none;
    --burger-color: #494848;
    --bg-color-nav-bar:#8ebfea;
    --input-placeholder: rgba(0, 0, 0, 0.4);
    --dark-mode-background: #262425;
    --text-color: #252525;
    --text-color-dark-mode: #e6e6e6;
    --decoration-gradient: linear-gradient(
        152deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(128, 128, 128, 1) 0%,
        rgba(4, 242, 224, 1) 100%
    );
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    cursor: default;
    background: linear-gradient(
        152deg,
        #a6d4f966 20%,
        #7fb5e4 20%,
        #156699 40%,
        #46aeef 80%,
        #0d4088 100%
    );
}


/* dark mode */
.btn_dark_mode {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.container_icon_sun, .container_icon_moon{
    font-size: 2em;
}
.container_icon_moon{
    display: none;
}

.container_icon_sun{
    color: var(--text-color);
}

.dark_mode_body {
    background: var(--dark-mode-background);
    color: var(--text-color-dark-mode);
}

.div_dark_mode {
    background-color: var(--text-color-dark-mode);
    display: flex;
    align-items: flex-end;
}

.div_inside_dark_mode {
    background-color: black;
}

.link_nav_dark_mode {
    color: var(--text-color-dark-mode) !important;
}

.input_dark_mode:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--dark-mode-background) inset !important;
    -moz-box-shadow: 0 0 0 100px var(--dark-mode-background) inset !important;
    box-shadow: 0 0 0 100px var(--dark-mode-background) inset !important;
}

.text_ligth_color_dark_mode {
    color: var(--text-color-dark-mode) !important;
}

.border_dark_mode {
    border-bottom: 1px solid var(--text-color-dark-mode) !important;
    color: var(--text-color-dark-mode);
}

/* back to top */

.btn_back_top {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    font-size: 3rem;
    padding: 10px;
    background-color: transparent;
}

/* home */

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    background-color: var(--bg-color-nav-bar);

}

.container_bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    /* polygon(x y, x y, x y, x y) ici 4 côtés avec les coordonnées sur les axes x et y*/
    clip-path: polygon(0 90%, 100% -50%, 100% 100%, 0 100%);
}

nav {
    background-color: var(--bg-color-nav-bar);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.nav_pseudo{
    padding: 10px;
    font-family:"Updock", "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 600;
}


nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul li {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_nav {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
}

.link_nav:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: #065fbf72;
}

.burger_menu {
    display: none;
}

/* animation title */
@keyframes showTitleTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showTitleBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated_title {
    font-family: "Updock", "Roboto", sans-serif;
    font-size: 3em;
    height: 60vmin;
    width: 60vmin;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.animated_title > div {
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.animated_title > div div {
    padding: 3vmin 1vmin;
    position: absolute;
}

.animated_title > div div span {
    display: block;
}

.animated_title > div.title_text_top {
    border-bottom: 1px solid #000;
    top: 0;
}

.animated_title > div.title_text_top div {
    animation: showTitleTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.animated_title > div.title_text_bottom {
    bottom: 0;
}

.animated_title > div.title_text_bottom div {
    animation: showTitleBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}

/* section */

section {
    font-size: 2rem;
    margin: 4em 0;
}

h2 {
    text-align: center;
    font-size: 2em;
}


.container_all_skills{
    margin: 0 auto;
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_skills{
    display: flex;
    flex-direction: column;
}

.container_skills img{
    width: 80px;
    height: 80px;
}

/* section_projects */

.container_all_projects {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.container_project {
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
}

.container_project a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
}

.container_text_project {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container_img_project {
    width: 100%;
}

.container_img_project img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* section_contact */

#section_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container_field,
.container_field_message {
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_field_message {
    display: flex;
    justify-content: center;
}

label {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

label i {
    color: var(--text-color);
    font-size: 1.5em;
    border-radius: 50%;
    padding: 8px;
}

input,
textarea {
    margin: 8px;
    border: none;
    width: 90%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

::placeholder {
    color: var(--input-placeholder);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #4198ce inset;
    -moz-box-shadow: 0 0 0 100px #4198ce inset;
    box-shadow: 0 0 0 100px #4198ce inset;
}

textarea {
    width: 100% !important;
}

.container_field:focus-within label i {
    color: rgba(0, 0, 0, 0.8) !important;
    background-color: aqua !important;
    box-shadow: 5px 5px 5px black !important;
}

.btn_form {
    border: none;
    cursor: pointer;
    padding: 0.8em;
    border-radius: 1em;
    background-color: #acd1f2;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.btn_form:focus {
    box-shadow: -10px -5px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 1.7rem;
    margin-top: 60px;
}

footer a {
    text-decoration: none;
}

footer a i {
    font-size: 2em;
    margin: 0.2em;
}

footer .fa-linkedin {
    color: #0A66C2;
}

footer .fa-github-square {
    color: #333;
}

/* responsive */

@media (max-width: 1000px) {
    .home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .animated_title {
        width: 40vmin;
        top: 30%;
        left: 22%;
    }


    nav {
        display: none;
    }

    .nav_block {
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        position: fixed;
        background-color: var(--bg-color-nav-bar);
        z-index: 1;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 5px 0;
    }

    .burger_menu {
        display: block;
        position: fixed;
        top: 0;
        right: 20px;
        border: none;
        background-color: transparent;
        height: 45px;
        width: 45px;
        z-index: 1;
    }

    .bar_burger_menu {
        display: block;
        width: 30px;
        height: 5px;
        background-color: var(--burger-color);
        border: 1px solid white;
    }

    .bar_burger_menu::after,
    .bar_burger_menu::before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: var(--burger-color);
        border: 1px solid white;

    }

    .bar_burger_menu::after {
        transform: translateY(12px);
    }

    .bar_burger_menu::before {
        transform: translateY(-12px);
    }

    .close_burger .bar_burger_menu {
        background-color: transparent;
    }

    .close_burger .bar_burger_menu::after {
        transform: rotate(45deg);
        transition: all 0.5s ease-in-out;
    }

    .close_burger .bar_burger_menu::before {
        transform: rotate(-45deg);
        transition: all 0.5s ease-in-out;
    }

    /* section contact */

    form {
        width: 80%;
    }
}

@media (max-width: 600px) {
    body {
        background: linear-gradient(
            152deg,
            #a6d4f966 10%,
            #8ebfea 10%,
            #51b4f1 40%,
            #1f87c7 80%,
            #0d4088 100%
        );
    }

    .animated_title {
        font-size: 2em;
    }

    section {
        margin: 0 0 1em 0;
    }

    .animated_title {
        font-family: "Updock", "Roboto", sans-serif;
        font-size: 2em;
        height: 60vmin;
        width: 50vmin;
        position: absolute;
        top: 25%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    h2 {
        font-size: 1.5em;
        margin: 0 0 20px 0;
    }

    .container_all_skills {
        height: 100%;
        flex-direction: column;
    }



    .container_skills_1,
    .container_skills_3,
    .container_skills_5 {
        margin: 0 120px 5px 0;
    }

    .container_skills_2,
    .container_skills_4 {
        margin: 0 0 5px 120px;
    }

    /* section projects */

    .container_all_projects {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .container_project {
        margin-bottom: 1em;
        width: 70%;
    }

    /* section contact */
    form {
        width: 100%;
    }

    .container_field,
    .container_field_message {
        width: 80%;
    }
}
